.WHA {
  color: #25D366; 
  padding: 10px; 
  background-color: white;
  border: 1px solid #25D366; 
  border-radius: 10px; 
  text-decoration: none;
 }
 .WHA:hover {
  background-color: #25D366;
  border: 1px solid white;
}
.WHA:visited {
  color: #25D366;
  text-decoration: none;
}
 .MAIL {
  color: orange;
  padding: 10px 30px 10px 30px;
  background-color: white; 
  border: 1px solid orange;
  border-radius: 10px;
  text-decoration: none; }
.MAIL:hover {
    background-color: orange;
    border: 1px solid white;
              }
  .MAIL:visited {
    color: orange;
    text-decoration: none;
  }
.WHA:hover, .MAIL:hover {
  color: white;
}
