.members {
    border-spacing: 50px;
    border: none;
}

.m1 {
    background-color: rgba(0,90,156,0.25);
    padding-left: 250px;
    padding-right: 210px;
    padding-top: 137px;
    padding-bottom: 0px;
    border-radius: 50px;
    border: 1px solid rgba(0,90,156,0.25);
}

.img1 {
    margin-left: -250px;
    margin-top: -137px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 43px;
}

.img2 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.txt {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -90px;
    margin-top: 10px;
    margin-bottom: 10px;
    Margin-right: -200px;
    color: #005a9c;
    text-align: left;
}

.poste {
    color: orange;
}

.description {
    text-align: left;
    color: #005a9c;
    font-size: 0.7em;
    border-radius: 10px;
    padding: 50px;
}

.description:hover {
    color: black;
}

.sendmailmembers {
    text-decoration: none;
    color: #005a9c;
}

.sendmailmembers:opened {
    color: #005a9c;
}

.passpage {
    color: #005a9c;
    font-size: 1.5em;
    margin: auto;
    padding: 0px;
    border: none;
    vertical-align: middle;
}

.passpagelink {
    text-decoration: none;
    color: #005a9c;
}

.passpagelink:opened {
    color: #005a9c;
    text-decoration: none;
}

