.countdown {
    padding: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 20px 150px;
    background-size: cover;
}

.timer {
   color: rgb(255, 217, 0);
   font-weight: 900;
   font-size: 3em;
}

   .j, .h, .m, .s {
    color: rgb(255, 217, 0);
    font-size: 1.2em;
}

.j {
    margin-left: 112px;
}

.h {
    margin-left: 60px;
}

.m {
    margin-left: 42px;
}

.s {
    margin-left: 35px;
}

.TxtInfoEmi {
    color: white;
    font-size: 1em;
    font-style: italic;
    margin-left: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px 20px 65px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 1s;
}

.TxtInfoEmi:hover {
  font-size: 1.1em;
  transition: 1s;
  color: rgb(255, 217, 0);
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    text-align: center;
    margin: 10px 20px 5px 0px;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(255, 217, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #005a9c;
  }

  .btn-5:hover {
    color: #005a9c;
    background: rgb(255, 217, 0);
    box-shadow: none;
    font-size: 1.2em;
  }

  .BTN1:hover {
    font-size: 0.9em;
  }

  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #005a9c;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
